/AccessibilityApp/AccessibilityApp-ejb/dist/
/SingletonApp/nbproject/private/
/SingletonApp/SingletonApp-war/nbproject/private/
/SingletonApp/SingletonApp-ejb/nbproject/private/
/SingletonApp/SingletonApp-ejb/build/
/SingletonApp/SingletonApp-war/build/
/SingletonApp/build/
/SingletonApp/SingletonApp-war/dist/
/SingletonApp/SingletonApp-ejb/dist/
/SingletonApp/dist/
/AccessibilityApp/AccessibilityApp-war/dist/
/PublishApp/nbproject/private/
/PublishApp/PublishApp-war/nbproject/private/
/PublishApp/PublishApp-ejb/nbproject/private/
/PublishApp/build/
/PublishApp/dist/
/PublishApp/PublishApp-war/dist/
/PublishApp/PublishApp-war/build/
/PublishApp/PublishApp-ejb/build/
/PublishApp/PublishApp-ejb/dist/
/TestWebServiceApp/nbproject/private/
/TestWebServiceApp/build/
/TestWebServiceApp/dist/
/TestServiceClient/nbproject/private/
/TestServiceClient/build/
/TestServiceClient/dist/
/SampleRestApp/nbproject/private/
/SampleRestApp/build/
/TestRestApp/nbproject/private/
/TestRestApp/dist/
/TestRestApp/build/
